#navbar {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
}

div > #coursera-img {
  height: 50px;
  width: 130px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
  margin-left: 5px;
  margin-left: 30px;
}

#coursera-img:hover {
  cursor: pointer;
}

.select {
  margin-left: 20px;
  height: 40px;
  width: 90px;
  background-color: #0056d2;
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  font-weight: bold;
  justify-content: center;
  font-size: medium;
  position: relative;
}
.select:hover {
  background-color: white;
  color: #0056d2;
}

.sub-explore {
  display: none;
  margin-top: 10px;
}
.select:hover .sub-explore {
  display: block;
  position: absolute;
  background-color: gainsboro;
  margin-top: 15px;
  margin-left: 5px;
}
.select:hover .sub-explore ul {
  display: block;
  margin: 10px;
}
.select:hover .sub-explore ul li {
  width: 220px;

  text-align: left;
  list-style: none;
}
.select:hover .sub-explore ul:first-of-type li:first-child {
  height: 50px;
  margin-top: 10px;
}
.select:hover .sub-explore ul li:nth-child(6) {
  height: 50px;
  margin-top: 10px;
}
#search_box {
  height: 40px;
  width: 330px;
  margin-left: 20px;
  margin-top: 2px;
}
#magnify {
  height: 20px;
  width: 20px;
  padding: 2px;
}
hr {
  border-color: #e0e0e0;
  border-top: thin;
}
#search_button {
  height: 45px;
  width: 45px;
  background-color: #0056d2;
  border: none;
  border-radius: 2px;
  margin-top: 2px;
}

ul {
  margin-top: 5px;
  margin-left: 240px;
}

li {
  display: inline;
  margin-top: 0px;
  float: right;
}

a {
  display: block;
  font-family: Source Sans Pro, Arial, sans-serif;
  padding: 8px;
  text-decoration: none;
  margin: 5px;
  font-size: small;
  margin-top: 0px;
  color: black;
  padding: 10px;
}
li a:hover {
  color: #0056d2;
  text-decoration: underline;
}
li button {
  background-color: #0056d2;
  color: white;
  height: 40px;
  width: 120px;
  border: none;
  font-size: medium;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 10px;
  border-radius: 2px;
}
li button:hover {
  background-color: darkblue;
}
#login {
  color: #0056d2;
}

#bigBox1 {
  width: 70%;
  margin: auto;
  margin-top: 70px;
}

#head {
  font-size: 40px;
  color: rgb(87, 87, 87);
}
.useflex {
  display: flex;
}

.aligntop {
  margin-top: -8px;
  color: blue;
  padding-left: 0;
}

.course1 {
  margin: 25px;
  width: 22%;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.course {
  margin: 10px;
  width: 22%;
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#box12 {
  display: flex;

  justify-content: center;
  align-items: center;
}

.largerimage img {
  width: 230px;
  height: 132px;
}
.smallimage img {
  margin-top: -35px;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  border: 5px solid white;
}

.smallimage button {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solidrgb(255, 224, 87);
  background-color: rgb(255, 224, 87);
  border-radius: 10px;
  font-size: 12px;
  float: right;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin-right: 10px;
}

.text1 {
  margin-top: 10px;
}
.text1 a {
  color: rgb(0, 86, 210);
  text-decoration: none;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin-right: 20px;
  font-size: 20px;
}
.text1 a:hover {
  text-decoration: underline;
}
.text1 p {
  color: rgb(102, 102, 102);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin-left: 20px;
}
.text2 {
  margin-top: 60px;
}
.text2 h4 {
  color: rgb(102, 102, 102);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  margin-left: 20px;
}
.text2 i {
  float: right;
  margin-top: -40px;
  font-size: 25px;
  margin-right: 20px;
  color: rgb(0, 86, 210);
}

#purchased {
  display: none;
}

#footer {
  /* width:100%; */
  margin-top: 20px;
  height: 500px;
  background-color: rgb(204, 203, 203);
}
#footerBox {
  /* width:100%; */
  display: flex;
  margin-bottom: 60px;
  /* margin:auto; */
}
.footerData {
  width: 18%;
  margin-top: 50px;
}
.footerData p {
  color: rgb(66, 65, 65);
  font-size: 14px;
  text-align: left;
}
.footerMargin {
  margin-left: 15%;
}
#line {
  width: 70%;
  height: 2px;
  margin: auto;
  background-color: grey;
}
#footerInc {
  display: flex;
  margin: 50px 0px;
}
#footerInc p {
  margin-left: 16%;
  color: rgb(66, 65, 65);
}
#footerIncImage {
  margin-left: 26%;
  padding: 10px 0px;
}
.footerData p:hover {
  text-decoration: underline;
  font-family: "Source Sans Pro", Arial, sans-serif;
  cursor: pointer;
}

#profile {
  width: 80px;
  height: 45px;
  margin-left: 20px;
  padding-top: -2px;
}
#profileLogo {
  width: 90%;
  height: 50px;
  border-radius: 75%;
  margin-top: -5px;
}

.courseName:hover {
  text-decoration: underline;
  cursor: pointer;
}

#profileBox {
  width: 20%;
  height: 334px;
  border: 1px solid black;
  margin-left: 80%;
  margin-top: 10px;
  position: absolute;
  top: 50px;
  background-color: white;
  display: none;
}
#profileBox div {
  border: 1px solid white;
  height: 40px;
  padding-left: 15px;
  padding-top: -5px;
}
#profileBox div:hover {
  background-color: rgb(180, 179, 179);
  cursor: pointer;
}

.colorChange {
  width: 235px;
  margin-left: 45px;
  height: 45px;
  padding-left: 20px;
  padding-top: 5px;
}

.colorChange:hover {
  background-color: rgb(213, 214, 214);
}
